@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    background-color: #707fa4;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrollbar */
    font-family: 'Montserrat', sans-serif; /* Set Montserrat as the default font */
 }

 /* Add styles for header */
.header {
    color: white;
    padding: 10px;
}

/* Add styles for toggle button */
.header-toggle {
    border: none;
    background: none;
    cursor: pointer;
}

/* Add styles for toggle lines */
.toggle-line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
}

/* Add styles for sidebar */
.sidebar {
    position: relative;
    top: 8%;
    left: -100%; /* Hide the sidebar off-screen by default */
    width: 12vw;
    height: 30vw; /* Adjust height to fill the entire viewport */
    background-color: #707fa4;
    color: white;
    transition: left 0.5s ease; /* Transition the left position */
    z-index: 1000;
}

.sidebar-content {
    padding-top: 1vw;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s ease; /* Add transition for background color */
    border-radius: 50px;
    position: relative;
}

.sidebar a:hover {
    background-color: #b1d0d8;
}

.sidebar a::after {
    content: ''; /* Create a pseudo-element */
    position: absolute; /* Set it to absolute positioning */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Inherit border radius from the parent */
    z-index: -1; /* Set a lower z-index to position behind the text */
}

@media (max-width: 768px) {
    .sidebar {
        width: 12vw; /* Adjust the width for smaller screens */
    }

    .content-container {
        margin-left: 200px; /* Adjust the margin for smaller screens */
    }
    body {
        font-size: 2vw; /* Decrease font size for smaller screens */
    }
}

 .vertical-line {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px; /* Adjust thickness of the line */
    background-color: #fff; /* Adjust color of the line */
    transform: translateX(-50%); /* Move the line back by half its width */
}


.left-section,
.right-section {
    position: absolute;
    width: calc(50% - 1px); /* Half the width of the viewport minus the line width */
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.left-section {
    left: 5vw;
    top: 2vw;
}

.right-section {
    right: 1vw;
    top: 2vw;
}

h2 {
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-right: 5vw;
    font-weight: 400;
    color: #fff;

}

p {
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    margin-right: 5vw;
    font-weight: 400;
    color:#fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.modeling-photo {
    background-size: cover;
    width: 20vw; /* Adjust width as needed */
    height: 23vw; /* Adjust height as needed */
    border-radius: 10px; /* Optional: add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin: 10px 10px 10px 10px;
}

/* Apply different margins to specific photo numbers */
.modeling-photo:nth-child(1) {
    margin-top: 1vw; /* Adjust margin for photo number 1 */
}

.modeling-photo:nth-child(2) {
    margin-top: 1vw; /* Adjust margin for photo number 2 */
}

.modeling-photo:nth-child(3) {
    margin-top: 1vw; /* Adjust margin for photo number 3 */
}

.modeling-photo:nth-child(4) {
    margin-top: 1vw; /* Adjust margin for photo number 4 */
}

.modeling-photo:hover {
    opacity: 0.8; /* Reduce opacity on hover */
}

.photo-link {
    display: block; /* Ensure the link covers the entire photo */
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    width: 100%;
    height: auto;
}

 .modeling-photo1 {
    background-image: url('images/1.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: 170px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}


.modeling-photo2 {
    background-image: url('images/2.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -130px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo3 {
    background-image: url('images/3.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -120px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo4 {
    background-image: url('images/4.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -420px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo5 {
    background-image: url('images/5.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -410px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo6 {
    background-image: url('images/6.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -710px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo7 {
    background-image: url('images/7.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -700px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo8 {
    background-image: url('images/8.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1000px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo9 {
    background-image: url('images/9.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -990px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo10 {
    background-image: url('images/10.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1290px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo11 {
    background-image: url('images/11.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1280px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo12 {
    background-image: url('images/12.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1580px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo13 {
    background-image: url('images/13.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1570px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo14 {
    background-image: url('images/14.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1870px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo15 {
    background-image: url('images/15.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -1860px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo16 {
    background-image: url('images/16.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -2160px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo17 {
    background-image: url('images/17.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -2150px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

.modeling-photo18 {
    background-image: url('images/18.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -2450px; /* Move photo 50px down from its original position */
    left: 400px; /* Move photo 20px to the right from its original position */
}

.modeling-photo19 {
    background-image: url('images/19.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -2440px; /* Move photo 50px down from its original position */
    left: 140px; /* Move photo 20px to the right from its original position */
}

/* Start of Photography photos */
.modeling-photo20 {
    background-image: url('images/20.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -5530px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo21 {
    background-image: url('images/21.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -5830px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo22 {
    background-image: url('images/22.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -5820px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo23 {
    background-image: url('images/23.JPG');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6120px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo24 {
    background-image: url('images/24.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6110px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo25 {
    background-image: url('images/25.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6410px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo26 {
    background-image: url('images/26.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6400px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo27 {
    background-image: url('images/27.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6700px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo28 {
    background-image: url('images/28.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6690px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo29 {
    background-image: url('images/29.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6990px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo30 {
    background-image: url('images/30.jpeg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -6980px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo31 {
    background-image: url('images/31.JPG');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -7280px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo32 {
    background-image: url('images/32.png');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -7270px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo33 {
    background-image: url('images/33.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -7570px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo34 {
    background-image: url('images/34.JPG');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -7560px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo35 {
    background-image: url('images/35.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -7860px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo36 {
    background-image: url('images/36.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -7850px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo37 {
    background-image: url('images/37.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -8150px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo38 {
    background-image: url('images/38.jpg');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -8140px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

.modeling-photo39 {
    background-image: url('images/39.JPG');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -8440px; /* Move photo 50px down from its original position */
    left: 1050px; /* Move photo 20px to the right from its original position */
}

.modeling-photo40 {
    background-image: url('images/40.JPG');
    background-size: cover;
    width: 250px; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    border-radius: 5px; /* Optional: add border radius for rounded corners */
    margin-right: 20px; /* Optional: add margin to space photos */
    position: relative; /* Enable positioning */
    top: -8430px; /* Move photo 50px down from its original position */
    left: 790px; /* Move photo 20px to the right from its original position */
}

