@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
    background-color: #707fa4;
    font-family: 'Montserrat', sans-serif; /* Apply the imported font to the body */
}

/* Add styles for header */
.header {
    color: white;
    padding: 10px;
}

/* Add styles for toggle button */
.header-toggle {
    border: none;
    background: none;
    cursor: pointer;
}

/* Add styles for toggle lines */
.toggle-line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px auto;
}

/* Add styles for sidebar */
.sidebar {
    position: relative;
    top: 8%;
    left: -100%; /* Hide the sidebar off-screen by default */
    width: 12vw;
    height: 30vw; /* Adjust height to fill the entire viewport */
    background-color: #707fa4;
    color: white;
    transition: left 0.5s ease; /* Transition the left position */
    z-index: 1000;
}

.sidebar-content {
    padding-top: 1vw;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s ease; /* Add transition for background color */
    border-radius: 50px;
    position: relative;
}

.sidebar a:hover {
    background-color: #b1d0d8;
}

.sidebar a::after {
    content: ''; /* Create a pseudo-element */
    position: absolute; /* Set it to absolute positioning */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Inherit border radius from the parent */
    z-index: -1; /* Set a lower z-index to position behind the text */
}

/* Adjustments to the existing styles */

.content {
    padding: 4vw; /* Add padding to separate content from sidebar */
    box-sizing: border-box; /* Include padding in the width calculation */
    color: #fff;
    position: relative;
    margin-top: 1vw;
    margin-bottom: 4vw;
    font-size: 1vw;
    top: -35vw;
    margin-right: 8vw;
    margin-left: 3vw;
}

#travel-map {
    position: relative; /* Set the position of the container to relative */
    width: calc(110% - 8vw); /* Adjust width to fill available space */
    height: 50vw; /* Set the height */
    margin-top: 20px; /* Add margin top */
    overflow: hidden; /* Hide overflowing content */
}

#travel-map iframe {
    position: absolute; /* Set the position of the iframe */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Take up the full width of the container */
    height: 100%; /* Take up the full height of the container */
    border: 0; /* Remove border */
}

@media (max-width: 768px) {
    .sidebar {
        width: 12vw; /* Adjust the width for smaller screens */
    }

    body {
        font-size: 2vw; /* Decrease font size for smaller screens */
    }

    .content {
        font-size: 1vw; /* Adjust font size for smaller screens */
    }
}
